<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: head">
<!--    th:replace="partials/head :: head('Friends list')"-->
    <meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Travel Buddy</title>
</head>
<body>

<div class="logo">
<!--    <img class="logo" src="../static/img/Explore-the-world.png"/>-->
    <img th:src="@{/img/Explore-the-world.png}"/>

</div>

</body>
</html>